# .gitignore 파일 생성
New-Item .gitignore -ItemType File

# 내용 추가
@"
# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# tfvars (민감한 정보)
*.tfvars
*.tfvars.json

# Lock file
.terraform.tfstate.lock.info

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
"@ | Out-File -FilePath .gitignore -Encoding utf8

# KEY, PEM 등 20260525 2350 추가 하려고 봤는데 1팀꺼라서(전 5팀.._) 다시 아래 내용 지울게요(주석 처리) 죄송합니다..(위에는 안 건드렸어요!)
# *.pem
# *.key
# *.pub
# id_rsa
# id_rsa.pub
# 프로젝트 관련
envs/dev/cluster-perms.json
envs/dev/node-perms.json
modules/monitoring/lambda_slack.zip
envs/prod/.terraform.lock.hcl
